body {
  font-family: "Avenir Light";
}

h4 {
  color: white;
}

#transactions_table td {
  padding-right: 10px;
}

.masthead {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.submasthead {
  color: gray;
  margin-bottom: 20px;
  margin-left: 10px;
}

.nav-tabs a {
  height: 32px;
  padding-top: 0px;
  margin-top: 0px;
}

.nav-tabs li a {
  padding-top: 7px;
}

.tab-content {
  padding-top: 10px;
}

.transactions .form-group {
  margin-bottom: 2px;
}

.transactions .form-group div > select{
  background-color: #5897d1;
  color: white;
  border-radius: 3px;
  border-width: 0px;
  font-family: Avenir;
  font-weight: 500;
  margin: 0px;
  padding: 6px 5px 5px 10px;
  height: 30px;
  width: 170px;
}

.transactions .form-group div{
  background-color: black;
  width: 170px;
  margin-left: 20px;
}

.transactions td {
  padding-bottom: 5px;
}

.money {
  text-align: right;
}

.select > * {
  background-color: DodgerBlue;
}

.transactions tr :nth-child(2) {
    width: 300px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;  
}

.transactions tr :nth-child(3) {
    width: 100px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;  
}

.transactions tr :nth-child(4) {
    width: 200px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;  
}

.approve_transaction {
  height: 30px;
  padding: 0px 10px 0px 10px;
  margin: -10px 0px 0px 0px;
  font-size: 12px;
}

.category_header {
  margin-left: 20px;
}
